<div class="body-container">
  <div class="card shadow story-card">
    <h1 class="card-header story-title"><%= @submission.subtitle %></h1>
    <div class="card-body">
      <div class="card-text"><%= @submission.content %></div>
    </div>
    <div class="sub-vote-button">
      <% if logged_in? %>
        <% if @submission.voted?(current_user) %>
          <button type="button" class="btn btn-primary btn-sm" disabled>Voted</button>
        <% else %>
          <%= button_to "Vote for Submission", {:controller => "votes", :action => "create", :vote => {:user_id => current_user.id, :submission_id => @submission.id}}, :method => :post, class: "btn btn-primary btn-sm" %>
        <% end %>
      <% end %>
    </div>

  </div>


  <%=button_to "<- Back", story_path(@submission.section.story), method: "get", class: "btn btn-outline-primary back-button" %>
</div>
