<h1><%= @submission.subtitle %></h1>
<br>
<h6><%= @submission.content %></h6>

<br>
<br>
<p><%=link_to "Back", section_path(@submission.section) %></p>


<% if @submission.voted?(current_user) %>
  <p>Voted</p>
<% else %>
  <%= button_to "Vote for Submission", {:controller => "votes", :action => "create", :vote => {:user_id => current_user.id, :submission_id => @submission.id}}, :method => :post %>
<% end %>
