// Place all the styles related to the Submissions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Place all the styles related to the Stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#story_synopsis {
  height: 30vh;
}

.submission-column {
  max-width: 60%;
  min-width: 500px;
}

.create-btn {
  width: 100%;
}

.btn-cancel {
  width: 100px;
}

.story-homepage-top {
  display: flex;
  flex-direction: row;

  .section-header {
    text-align: center;
  }

  .top-left {
    width: 45%;
    margin: 30px auto;
  }
  .top-right {
    width: 45%;
    margin: 30px auto;
  }
}

.border-bottom {
  border-bottom: 3px solid rgba(0, 0, 0, 0.125);
}

.synopsis-style {
  padding: 15px;
}

.separator-bar {
  height: 3px;
  background-color: #f7f7f7;
}

.cancel-container {
  margin: 30px auto;
  width: 100px;
}

.story-card {
  width: 75vw;
  margin: 0 auto;
}

.section-card-wide {
  width: 95vw;
  margin: 0 auto;
}

.story-title {
  font-size: 2em;

}

.back-button {
  position: absolute;
  left: 30px;
  top: 30px;
}

.story-container {
  padding: 15px;
}

.story-content {
  padding: 10px;
}

.create-sub-button {
  position: fixed;
  bottom: 0px;
  width: 100vw;
}

.submission-card {
  margin-bottom: 15px;
}

.sub-vote-button {
  margin: 0 0 30px 30px;
}
